*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #7d7987;
  background-color: #f0f7fe;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 55px;
  cursor: pointer;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.56;
  color: #000;
  position: relative;
}

.title::after {
  content: '';
  width: 56px;
  height: 2px;
  border-radius: 5px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  position: absolute;
}

/* HEADER */

.header {
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header__logo {
  display: block;
}

.header__logo-img {
  display: block;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  list-style: none;
}

.menu__list-item:not(:first-child) {
  margin-left: 35px;
}

.menu__list-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
  color: rgba(31, 21, 52, 0.5);
  display: block;
}

.menu__list-link:hover {
  color: rgba(31, 21, 52, 1);
  text-shadow: 0 0 0.65px #1f1534, 0 0 0.65px #1f1534;
}

/* BURGER MENU */

.burger__button-wrapper {
  width: 25px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.burger__button {
  width: 25px;
  height: 2px;
  background-color: #000;
  position: relative;
  z-index: 5;
}

.burger__button::before {
  content: '';
  width: 25px;
  height: 2px;
  top: -7px;
  left: 0;
  background-color: #000;
  display: block;
  position: absolute;
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

.burger__button::after {
  content: '';
  width: 25px;
  height: 2px;
  top: 7px;
  left: 0;
  background-color: #000;
  display: block;
  position: absolute;
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

/* --- BURGER TURN TO X */

.burger__button.active {
  background-color: transparent;
}

.burger__button.active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
  background-color: rgba(255, 255, 255, 0.8);
}

.burger__button.active::after {
  transform: rotate(135deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
  background-color: rgba(255, 255, 255, 0.8);
}

/* --- MOBILE NAVIGATION --- */

.menu__mobile-nav {
  display: block;
  position: absolute;
  top: -157vh;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.925);
  z-index: 1;
  overflow: hidden;
  transition: 0.6s;
}

.menu__mobile-nav--active {
  transform: translateY(156vh);
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mobile__logo {
  padding-top: 40px;
  padding-left: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.mobile__logo-img {
  display: inline-block;
}

.mobile-nav__item {
  list-style: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #424245;
  padding-bottom: 5px;
  width: 100%;
}

.mobile-nav__item:last-child {
  margin-bottom: 65vh;
  border-bottom: none;
}

.mobile-nav__link {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 40px;
  display: block;
  margin: 0 auto;
  padding-left: 50px;
}

/* HOME */

.home__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 125px;
}

.virtual-healthcare__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.17;
  color: #000;
  max-width: 450px;
  margin-bottom: 20px;
}

.virtual-healthcare__text {
  font-size: 21px;
  line-height: 1.5;
  max-width: 450px;
  margin-bottom: 40px;
}

.home__btn {
  color: #fff;
  background: #458ff6;
}

.home__image {
  display: block;
  max-width: 100%;
}

/* SERVICES */

.services__title {
  text-align: center;
}

.services__text {
  font-size: 18px;
  line-height: 1.67;
  text-align: start;
  color: #7d7987;
  max-width: 1020px;
  margin: 60px auto 15px;
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 350px;
  height: 355px;
  padding-left: 40px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-bottom: 40px;
}

.services__item-link {
  text-decoration: none;
  display: inline-block;
}

.services__item-img {
  display: inline-block;
  padding-top: 55px;
  margin-bottom: 20px;
  height: 135px;
}

.services__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  color: #000000;
  display: block;
}

.services__item-text {
  font-size: 16px;
  line-height: 1.75;
  color: #7d7987;
  max-width: 300px;
  margin: 15px 0 0;
}

/* PROVIDERS */

.providers__wrapper {
  display: flex;
  justify-content: space-between;
}

.providers__img {
  display: block;
  max-width: 100%;
}

.providers__title {
  margin-bottom: 60px;
  max-width: 450px;
}

.providers__title::after {
  left: 0;
  transform: translateX(0);
}

.providers__text {
  font-size: 18px;
  line-height: 1.67;
  color: #7d7987;
  max-width: 450px;
  margin-bottom: 40px;
}

.providers__btn,
.app__btn {
  color: #458ff6;
  border: 1.4px solid #458ff6;
}

/* APP */

.app__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 150px;
}

.app__title {
  margin-bottom: 60px;
  max-width: 450px;
}

.app__title::after {
  left: 0;
  transform: translateX(0);
}

.app__text {
  font-size: 18px;
  line-height: 1.67;
  color: #7d7987;
  max-width: 450px;
  margin-bottom: 40px;
}

.app__image {
  display: block;
  max-width: 100%;
}

/* TESTIMONIALS */

.testimonials__wrapper {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  max-width: 1120px;
  height: 425px;
  margin: 0 auto;
}

.testimonials__title {
  text-align: center;
  color: #fff;
  padding-top: 60px;
}

.testimonials__title::after {
  background-color: #fff;
}

.testimonials__item {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.testimonials__person {
  display: flex;
  align-items: center;
}

.testimonials__image {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  display: block;
  border: 3px solid #fff;
  margin-left: 100px;
}

.person__wrapper {
  padding-left: 30px;
}

.testimonials__person-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  margin: 0 0 10px;
}

.testimonials__position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
}

.testimonials__content {
  padding-right: 100px;
}

.testimonials__text {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58;
  color: rgba(255, 255, 255, 0.9);
  max-width: 420px;
  margin: 0;
}

/* ARTICLE */

.article {
  padding-top: 125px;
}

.article__title {
  text-align: center;
}

.article__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
}

.article__item-link {
  display: inline-block;
  text-decoration: none;
}

.article__image {
  display: block;
  max-width: 100%;
}

.article__item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.52;
  text-align: start;
  color: #000;
  max-width: 290px;
  margin: 20px auto 10px;
}

.article__text {
  font-size: 16px;
  line-height: 1.75;
  color: #7d7987;
  margin: 0 0 20px;
}

.article__link {
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: #4089ed;
  display: block;
  position: relative;
}

.article__link::after {
  content: '';
  width: 14px;
  height: 9px;
  background: url('../images/arrow.svg');
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  position: absolute;
}

.article__btn {
  color: #458ff6;
  border: 1.4px solid #458ff6;
  display: block;
  margin: 0 auto;
}

/* FOOTER */

.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  margin-top: 125px;
  padding: 70px 0 30px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  text-decoration: none;
  display: inline-block;
}

.footer__logo-img {
  display: block;
}

.footer__text {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  max-width: 400px;
}

.footer__rights {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  max-width: 400px;
}

.footer__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  margin: 0 0 30px;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__link {
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}

/* SLICK SLIDER */

.slick-initialized .slick-slide {
  display: flex;
}

.slick-initialized .slick-slide {
  margin-top: 50px;
}

.slick-arrow {
  top: 312px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 5;
}

.slick-arrow img {
  display: block;
}

.slick-prev {
  left: 40%;
}

.slick-next {
  right: 40%;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  padding-left: 0;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slick-dots button {
  font-size: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(91, 155, 243, 0.3);
  border: none;
}

.slick-active button {
  background-color: #5b9bf3;
}
